{
  "sourceType": "unambiguous",
  "presets": [
      [
          "@babel/preset-env",
          {
              "targets": {
                  "node": "current"
              }
          }
      ],
      "@emotion/babel-preset-css-prop",
      ["@babel/preset-react", {"runtime": "automatic"}],
      "@babel/preset-typescript"
  ],
  "plugins": [
      [
          "@babel/plugin-proposal-decorators",
          {
              "legacy": true
          }
      ]
  ]
}